<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/home"><span>H</span>ome</a>
        </li>
        <li>
          <a href="/about"><span>A</span>bout</a>
        </li>
        <li>
          <a href="/works"><span>W</span>orks</a>
        </li>
        <li>
          <a href="/gallery"><span>G</span>allery</a>
        </li>
      </ul>
    </nav>
    <div class="homeImg"></div>
    <h2>Welcome!</h2>
  </body>
</html>
